<div class="container">
	
	<div class="card">
	  <h5 class="card-header">About BlogOne</h5>
	  <div class="card-body">
	    <h5 class="card-title">Basic Dutch</h5>
	    <p class="card-text">
	    <article>
	    	<h5>Hello and Other Greetings</h5>

			<p>You'll hear the Dutch greet each other and visitors with any of the following words and phrases. It's customary to return the sentiment when greeted. </p>  
			<ul>
				<li>Hallo ("HAH low")—Hello</li>
			    <p>Universal greeting for hello (and by far the easiest to say). Appropriate almost any time or place.</p>
			   <li>Hoi ("hoy")—Hi</li>
			    <p>Used more often with people you know. A bit more casual.</p>
			   <li>Goedemorgen ("KHOO duh MORE khen")—Good morning</li> 
			    <p>Most commonly used in museums, shops, restaurants, hotels, etc. More formal and appropriate for people you don't know. Sometimes shortened to morgen.</p> 
			   <li>Goedenmiddag ("KHOO duh midakh")—Good afternoon</li> 
			    <p>Same usage as above, only for a different time of day. Sometimes shortened to middag.</p> 
			   <li>Goedenavond ("KHOO dun AH fohnt")—Good evening</li> 
			    <p>Same usage as above, only for a different time of day. Not typically shortened.</p>
			</ul>
<!-- 			   
			<h5>Goodbyes</h5>

			<p>When leaving a store or café, most people in Amsterdam use one of the following words or phrases. Be a friendly visitor and try one out.</p>
			   <ul>
			   	 <li>Dag ("dakh")—Bye</li>
			    <p>Literally "day" as in "good day," this is the most common word for goodbye. Appropriate with most anyone. Can also be used as a greeting.</p>
			   <li>Tot ziens ("toht zeens")—See you later (figurative)</li>
			    <p>Cheerful, yet still appropriate with people you don't know. Often used by shop or restaurant workers as you leave.</p>
			   <li>Doei or doeg ("dooey" or "dookh")—Bye</li>
			    <p>Used more often with people you know, but can be used in a casual, friendly way. Much like the British "cheerio."</p>
			   </ul>  -->
	    </article>
	    	
		</p>
		<div class="btn-group" role="group" aria-label="Basic example">
		  <button type="button" onclick="window.location.href = 'https://github.com/zevendutch'; " class="btn btn-primary">GitHub</button>
		  <button type="button" onclick="window.location.href = 'https://twitter.com/zevendutch'; "class="btn btn-primary">Twitter</button>
		  <button type="button" class="btn btn-primary">YouTube</button>
		</div>
		<br>
	  </div>
	</div>
</div>
<br>
